.checkout {
    text-align: center;
    padding: 50px;
  }
  
  .confirm-order {
    background-color: darkgreen;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
  }
  